<div class="login">
  <div class="login-field">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="login-form">
        <h2 class="main-title">Edit <%= resource_name.to_s.humanize %></h2>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.text_field :name, placeholder: "Name", :class => "login-input" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", :class => "login-input" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", :class => "login-input" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", :class => "login-input" %>
        </div>

        <div class="field">
          <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password", :class => "login-input" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Update", :class =>"btn-default btn-primary btn-block" %>
      </div>
    <% end %>

    <h3 class="main-title">Cancel my account</h3>

    <p>Unhappy? </p>
    <div class="d-flex">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn-default btn-block btn-danger" %>
      <%= link_to "Back", :back, :class => "btn-default" %>
    </div>
  </div>

  <div class="login-side">
  </div>
</div>