<h1 class="text-center">
  <%= @article.title %>
</h1>

<hr>

<div class="text-body">
  <p>
    <%= @article.body %>
  </p>
</div>

<p class="text-right h6">
  <strong>Written by:</strong>
  <%= @article.user.name %>
</p>

<% if can? :update, @article %> <%= link_to 'Edit', edit_article_path(@article), class: 'btn-default btn-primary' %><% end %>
<%= link_to 'Back', articles_path, class: 'btn-default'%>

<%= render @article.comments%>
<%= render 'comments/form' %>