<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">

      <nav class="nav">
        <button class="btn-mobile" >
          <span class="hamburger"></span>
        </button>

        <ul class="menu-items">
        <% if @current_user&.admin? %>
          <li><%= link_to "Articles", articles_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Roles", roles_path %></li>
          <li><a href="">About</a></li>
        <% end %>
        </ul>
      </nav>

      <a id="brand" href="">Logo</a>

      <div>
      <p class="navbar-text float-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path%> |
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </p>
      </div>
    </header>
  
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
