<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <header class="header">
      <% if @current_user&.admin? %>
        <div class="nav">
            <button class="btn-mobile" >
              <span class="hamburger"></span>
            </button>
            
            <ul class="header-menu-items">
              <li><%= link_to "Articles", articles_path, :class => "link-secondary" %></li>
              <li><%= link_to "Users", users_path, :class => "link-secondary" %></li>
              <li><%= link_to "Roles", roles_path, :class => "link-secondary" %></li>
            </ul>
        </div>
      <% end %>

      <div>
        <a class="header-brand font-playfair" href="">Large</a>
      </div>

      <div class="right">
          <% if user_signed_in? %>
            <div>
              <%= show_svg('profile.svg') %>
              <strong><%= current_user.name %></strong>
            </div>

            <div>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => "link-secondary btn btn-sm btn-outline-secondary" %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "link-secondary btn btn-sm btn-outline-secondary" %>
            </div>
          <% else %>
            <div>
              <%= link_to "Sign up", new_user_registration_path, :class => "link-secondary btn btn-sm btn-outline-secondary" %> |
              <%= link_to "Login", new_user_session_path, :class => "link-secondary btn btn-sm btn-outline-secondary" %>
            </div>
          <% end %>
      </div>
    </header>
  
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <%= javascript_pack_tag 'toggle_menu' %>
  </body>
</html>
